.container-fluid,
body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.heroImage {
    background-image: linear-gradient(black, black), url("./images/HERO.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-blend-mode: saturation;
}

.topbarBg {
    background-color: rgba(0, 0, 0, 0.5);
    height: 10vh
}

.servicesBg {
    background-color: #0ECCEE;
}

.justdefaultBg{
    background-color:#657178;
}

.topbar > ul > li > a {
    color: white
}

.topbarPortfolio > ul > li > a {
    color: black;
}

.topbarPortfolio > ul > li,
.topbar > ul > li {
    list-style-type: none;
}

.topbar {
    height: 10vh;
}

.hero {
    height: 90vh;
}

.bleu {
    color: #0ECCEE;
}

.borderBleu {
    border: 2.5px solid #0ECCEE;
}

.imgsPortfolio > img {
    height: 30vh;
    padding: 10px;
}




